<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - File Sync</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top fs-navbar">
        <div class="container">
            @Html.ActionLink("File Sync", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fs-nav-item fs-no-decoration" })

            @if (!string.IsNullOrEmpty(ViewBag.PageIcon))
            {
                <div class="fs-navbar-icon-container fs-nav-item">
                    <span class="fs-navbar-icon glyphicon glyphicon-@ViewBag.PageIcon"></span>
                    <span class="fs-icon-description" style="font-size:12px;">@ViewBag.PageIconDescription</span>
                </div>
            }
           
            
            @if (User.IsInRole("Admin"))
            {
                <div class="fs-nav-item" style="float:left;">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            @Html.ActionLink("Manage", "Index", "Manage")
                        </li>
                    </ul>
                </div>
            }
            
            <div class="fs-nav-item" style="float: right; margin-right: 30px;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
            {
                <a class="fs-navbar-icon-container fs-nav-item fs-icon-button" style="position: absolute;" href="/@ViewBag.ReturnUrl">
                    <span class="fs-navbar-icon glyphicon glyphicon-arrow-left"></span>
                    <span class="fs-icon-description" style="font-size:12px;">Back</span>
                </a>
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
